.header-container
  header
    button.sidebar((click)="sidebar.toggle()")
      i.fa.fa-bars
    .logo
      a(routerLink="/")
        application-logo
    .search(*ngIf="!device.isMobile()")
        input.input(
          type="text", size="1",
          [formControl] = "searchInputControl",
          (keydown.esc) = "searchInputControl.patchValue(null)",
          (keydown.enter) = "router.navigate(['/search', searchInputControl.value]); autocomplete = []; isSearching = true;"
        )
        .fa.fa-search
    .flex-space
    nav.menu
      a(*ngIf="device.isMobile()", routerLink="search")
        i.fa.fa-2x.fa-search
      ng-container(*ngIf="auth.isSignedIn()")
        .relative
          a((click)="isProfileTooltipVisible = !isProfileTooltipVisible", [ngClass]="{'active': isProfileTooltipVisible}")
            i.fa.fa-2x.fa-user-circle
            span {{"Profile" | translate}}
          profile-tooltip(*ngIf="isProfileTooltipVisible", (onClose)="isProfileTooltipVisible = false")
      a(*ngIf="!auth.isSignedIn()", (click)="authModalsService.show(AuthModals.signIn)")
        i.fa.fa-2x.fa-sign-in
        span {{"Sign in" | translate}}  
  .search-results(*ngIf="autocomplete.length > 0 && searchInputControl.valid")
      ul
        li(*ngFor="let result of autocomplete")
          a([routerLink]="postService.getUrl(result.id, result.title)", (click)="autocomplete = []; searchInputControl.reset() ") {{ result.title }}
  sidebar

application-main
  router-outlet

ng-container(*ngIf="pl.isPlatformBrowser()")
  //post-create-button(*ngIf="auth.isSignedIn()", routerLink="/post/add", routerLinkActive="hidden")  
  application-loading-bar(loading-bar)
  application-scroll-button(*ngIf="!device.isMobile()")
  settings-modal(*ngIf="settingsModalService.isVisible", (on-close)="settingsModalService.hide()")
  sign-in-modal(*ngIf="authModalsService.isVisible(AuthModals.signIn)", (on-close)="authModalsService.hide(AuthModals.signIn)")
  sign-up-modal(*ngIf="authModalsService.isVisible(AuthModals.signUp)", (on-close)="authModalsService.hide(AuthModals.signUp)")