.header-container((panleft)="device.isMobile() && sidebar.hide()")
  header
    button.sidebar((click)="sidebar.toggle()")
      i.fa.fa-2x.fa-bars
    .logo
      a(routerLink="/")
        application-logo

    nav.menu
      ng-container(*ngIf="auth.isSignedIn()")
        a(*ngIf="profile.isOwnProfileExist()", [routerLink]="['profile', profile.getOwnProfilePath()]", routerLinkActive="active")
          i.fa.fa-2x.fa-user-circle
          span {{"Profile" | translate}}  
        a((click)="auth.signOut()")
          i.fa.fa-2x.fa-sign-out
          span {{"Sign out" | translate}}
      a(*ngIf="!auth.isSignedIn()" routerLink="/login")
        i.fa.fa-2x.fa-sign-in
        span {{"Sign in" | translate}}  

  sidebar([ngClass]="sidebar.state", (panleft)="device.isMobile() && sidebar.hide()")

main([ngClass]="'sidebar-' + sidebar.state", (panleft)="device.isMobile() && sidebar.hide()", (panright)="device.isMobile() && sidebar.show()")
  router-outlet
  
application-loading-bar
settings-modal