form.material-form([formGroup]="form", (ngSubmit)="submit()", (keydown.enter)="handleEnterButton($event)", [class.loading]='isLoading')
  .attachments(formArrayName="attachments")
    div(*ngFor="let attachment of attachments.controls; index as i", [ngSwitch]="attachment.value.type")
      .material-field
        .input-box([formGroupName]="i")
          attachment-input-text(*ngSwitchCase="AttachmentType.text", [id]="'commentFormAttachment' + i", formControlName="value", [placeholder]="'Add comment'", [focus]="focus")
          .preview(*ngSwitchCase="AttachmentType.image || AttachmentType.video")
            //attachment-input-video(*ngSwitchCase="AttachmentType.video", [id]="'commentFormAttachment' + i", formControlName="value")
            .overflow-hidden
              attachment-input-image(*ngSwitchCase="AttachmentType.image", [id]="'commentFormAttachment' + i", formControlName="value", [class.blur]="isAttachmentDeleteConfirmed(i)")
            
            .removeAttachment([class.confirm]="isAttachmentDeleteConfirmed(i)")
              button.btn-material.secondary(*ngIf="!isAttachmentDeleteConfirmed(i)", (click)="confirmDeleteAttachment(i)")
                i.fa.fa-trash-o
              .confirmDialog(*ngIf="isAttachmentDeleteConfirmed(i)")
                div
                  h3 {{ "Are you sure?" | translate }}
                  button.btn-material.secondary((click)="cancelDeleteAttachment(i)") {{ "No" | translate }}
                  button.btn-material.secondary((click)="deleteAttachment(i)") {{ "Yes" | translate }}

  .controls
    .attachment-button-container
      button.btn-material.secondary(type="button", (onChange)="addAttachment(AttachmentType.video)")
        i.fa.fa-plus.fa-hover.fa-fw
        i.fa.fa-video-camera.fa-fw
  
      button.btn-material.secondary(type="button", (onChange)="addAttachment(AttachmentType.image, $event)", cropper-browse)
        i.fa.fa-plus.fa-hover.fa-fw
        i.fa.fa-camera.fa-fw

    button.btn-material.primary(type="submit", [disabled]="isLoading")
      i.fa.fa-commenting.fa-fw
      span(*ngIf="!isLoading") {{"Send" | translate }}
      span(*ngIf="isLoading") {{"Loading" | translate }}
