h2 {{ "Add post" | translate }} 
  span(*ngIf="!saved") - {{"Saving" | translate}}...
br

form.material-form([formGroup]="form", (ngSubmit)="submit()", (keydown.enter)="handleEnterButton($event)")

  .material-field
    .input-box
      input#addPostTitle(ng-detect-empty-input, type="text", formControlName="title")
      hr
      label.material-label(for="addPostTitle") {{'History title' | translate }}
      ng-container(*ngIf="form.controls['title'].invalid && submitted")
        tooltip
          small(*ngIf="form.controls['title'].hasError('required')") {{ "Title is required" | translate }}.
          small(*ngIf="form.controls['title'].hasError('minlength')") {{ "Minimum length is" | translate }}  
            b {{ form.controls['title'].getError("minlength").requiredLength }}
            | .

  .attachments(formArrayName="attachments")
    div(dnd-sortable-container, [sortableData]="attachments.controls")
      div.dnd-sortable-cursor-fix(
        *ngFor="let attachment of attachments.controls; index as i",
        [ngSwitch]="attachment.value.type",
        dnd-sortable, [sortableIndex]="i"
      )
        .material-field
          .drag
            i.fa.fa-bars(dnd-sortable-handle)
          .input-box([formGroupName]="i")
            attachment-input-text(*ngSwitchCase="AttachmentType.text", [id]="'postFormAttachment' + i", formControlName="value")
            attachment-input-video(*ngSwitchCase="AttachmentType.video", [id]="'postFormAttachment' + i", formControlName="value")
            attachment-input-image(*ngSwitchCase="AttachmentType.image", [id]="'postFormAttachment' + i", formControlName="value")
            ng-container(*ngIf="attachment.controls.value.invalid && submitted")
              tooltip(*ngIf="attachment.controls.value.hasError('invalidLink')")
                // @DOTO: Translate!
                small Can't parse video link

          a.removeAttachment((click)="removeAttachment(i)")
            i.fa.fa-trash-o

  .controls.center.attachment-button-container
    button.btn-material.secondary(type="button", (click)="addAttachment(AttachmentType.text)")
      i.fa.fa-plus.fa-hover.fa-fw.fa-2x
      i.fa.fa-file-text-o.fa-fw.fa-2x
      span {{"Text" | translate }}
    button.btn-material.secondary(type="button", (onChange)="addAttachment(AttachmentType.image, $event)", cropper-browse)
      i.fa.fa-plus.fa-hover.fa-fw.fa-2x
      i.fa.fa-picture-o.fa-fw.fa-2x
      span {{"Image" | translate }}
    button.btn-material.secondary(type="button", (click)="addAttachment(AttachmentType.video)")
      i.fa.fa-plus.fa-hover.fa-fw.fa-2x
      i.fa.fa-video-camera.fa-fw.fa-2x
      span {{"Video" | translate }}

  .material-field
    .input-box
      tag-input(
      formControlName="tags",
      placeholder=" ",
      secondaryPlaceholder="{{'Tags' | translate}}",
      maxItems="8",
      theme='material',
      displayBy='name',
      identifyBy='id',
      inputId="addPostTags"
      )
        tag-input-dropdown(
          [autocompleteObservable]="requestAutocompleteItems",
        )
      ng-container(*ngIf="form.controls['tags'].invalid && submitted")
        tooltip(*ngIf="form.controls['tags'].hasError('required')")
          small {{ "Add miminum 2 tags" | translate }}.

  br
        
  .controls
    label.material-field.clickable
      .input-box
        input(type="checkbox", [checked]="hasAuthorTag()", (change)="updateAuthorTag($event.target.checked)")
        .checkbox {{ "author's" | translate | capitalize }}

    button.btn-material(type="button", (click)="reset()", *ngIf="!form.pristine")
      i.fa.fa-undo
      span {{ "Reset" | translate }}
    button.btn-material.primary(type="submit")
      i.fa.fa-bullhorn
      span {{ "Publish" | translate }}
