// @DOTO: Translate!
loader(*ngIf="isLoading")
  post-loading
  h2 {{ "Pinch of geek magic..." | translate}}

form.material-form([formGroup]="form", (ngSubmit)="submit()", (keydown.enter)="handleEnterButton($event)", [class.loading]='isLoading')

  h2 {{ (isNew ? "Add post" : "Edit post") | translate }} 
    span(*ngIf="!saved") - {{"Saving" | translate}}...
  
  br
  
  // TITLE
  .material-field
    .input-box
      input#addPostTitle(ng-detect-empty-input, type="text", formControlName="title")
      hr
      label.material-label(for="addPostTitle") {{"History title" | translate }}
      tooltip(*ngIf="form.controls['title'].invalid && submitted")
        small(*ngIf="form.controls['title'].hasError('required')") {{ "Title is required" | translate }}.
        small(*ngIf="form.controls['title'].hasError('minlength')") {{ "Minimum length is" | translate }}  
          b {{ form.controls['title'].getError("minlength").requiredLength }}.
        small(*ngIf="form.controls['title'].hasError('maxlength')") {{ "Maximum length is" | translate }}  
          b {{ form.controls['title'].getError("maxlength").requiredLength }}.

  // ATTACHMENTS
  .attachments(formArrayName="attachments")
    div(dnd-sortable-container, [sortableData]="attachments.controls")
      div.dnd-sortable-cursor-fix(
        *ngFor="let attachment of attachments.controls; index as i",
        [ngSwitch]="attachment.value.type",
        dnd-sortable, [sortableIndex]="i", [draggable]="!device.isMobile()"
      )
        .material-field
          .drag(*ngIf="!device.isMobile()")
            i.fa.fa-bars(dnd-sortable-handle)
          .input-box([formGroupName]="i")
            attachment-input-text(
              *ngSwitchCase="AttachmentType.text",
              [id]="'postFormAttachment' + i", formControlName="value", [focus]="true", 
              (input)="attachment.value.entity?.content && (attachment.value.entity.content.text = $event.target.innerHTML)"
            )
            
            attachment-input-video(*ngSwitchCase="AttachmentType.videoYoutube", [focus]="true", [id]="'postFormAttachment' + i", formControlName="value", (onParseVideoLink)="attachment.value.entity = $event")
            attachment-input-image(*ngSwitchCase="AttachmentType.image", [id]="'postFormAttachment' + i", formControlName="value")
            tooltip(*ngIf="attachment.controls.value.invalid && submitted")
              small(*ngIf="attachment.controls.value.hasError('invalidLink')") {{ "Can't parse video link" | translate }}
              small(*ngIf="attachment.controls.value.hasError('required')") {{ "Can't be empty" | translate }}
              
          a.removeAttachment((click)="removeAttachment(i)")
            i.fa.fa-trash-o

  // ADD ATTACHMENTS
  .controls.center.attachment-button-container
    button.btn-material.secondary(type="button", (click)="addAttachment(AttachmentType.text)")
      i.fa.fa-plus.fa-hover.fa-fw.fa-2x
      i.fa.fa-file-text-o.fa-fw.fa-2x
      span {{"Text" | translate }}
    button.btn-material.secondary(type="button", (onChange)="addAttachment(AttachmentType.image, $event)", cropper-browse)
      i.fa.fa-plus.fa-hover.fa-fw.fa-2x
      i.fa.fa-picture-o.fa-fw.fa-2x
      span {{"Image" | translate }}
    button.btn-material.secondary(type="button", (click)="addAttachment(AttachmentType.videoYoutube)")
      i.fa.fa-plus.fa-hover.fa-fw.fa-2x
      i.fa.fa-video-camera.fa-fw.fa-2x
      span {{"Video" | translate }}
    
    tooltip(*ngIf="form.controls['attachments'].hasError('required') && submitted")
      small {{ "Add attachment" | translate }}.


  // TAGS
  .material-field
    .input-box
      tag-input(
        formControlName="tags",
        placeholder=" ",
        secondaryPlaceholder="{{'Tags' | translate}}",
        [addOnBlur]="true",
        maxItems="8",
        theme='material',
        displayBy='name',
        identifyBy='name',
        inputId="addPostTags",
        [separatorKeys]="[',']"
      )
        tag-input-dropdown(
          [autocompleteObservable]="requestAutocompleteItems",
          minimumTextLength="3",
          displayBy='name',
          identifyBy='name',
        )
      tooltip(*ngIf="form.controls['tags'].invalid && submitted")
        small(*ngIf="form.controls['tags'].hasError('minlength')") 
          | {{ "Minimum number of tags" | translate }}: 
          b {{ form.controls['tags'].getError("minlength").requiredLength }}.
        small(*ngIf="form.controls['tags'].hasError('required')") {{ "Tags are required" | translate }}.

  br

  ng-container(formGroupName="seo")
    .material-field
      .input-box
        input#addPostSEOTitle(ng-detect-empty-input, type="text", formControlName="title")
        hr
        label.material-label(for="addPostSEOTitle") {{"SEO title" | translate }}
    .material-field
      .input-box
        input#addPostSEODescription(ng-detect-empty-input, type="text", formControlName="description")
        hr
        label.material-label(for="addPostSEODescription") {{"SEO Description" | translate }}



  .controls
    label.material-field.clickable
      .input-box
        input(type="checkbox", [checked]="hasAuthorTag()", (change)="updateAuthorTag($event.target.checked)")
        .checkbox {{ "author's" | translate | capitalize }}

    button.btn-material(*ngIf="isNew && !form.pristine", type="button", (click)="reset()")
      i.fa.fa-undo
      span {{ "Reset" | translate }}
    button.btn-material.primary(type="submit")
      i.fa.fa-bullhorn
      span(*ngIf="isNew") {{ "Publish" | translate }}
      span(*ngIf="!isNew") {{ "Save" | translate }}
